<!DOCTYPE html>

<html>
   <head>
      <title>NodeJS/Express project</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
   <h1>
       My sample NodeJS/Express/MongoDB project
   </h1>
   <ul>
       <li><a href="/1">Timestamp Microservice</a></li>
       <li><a href="/2">Request Header Parser</a></li>
       <li><a href="/3">URL Shortener Microservice</a></li>
   </ul>
  </body>
</html>
